.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://www.mashed.com/img/gallery/the-fruit-juice-that-is-way-more-nutritious-than-you-might-think/l-intro-1627652960.jpg);
    background-size: cover;
}

.container {
    border: 1px;
    background-color: rgba(0, 0, 0, 0.36);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.container .contact-info .box {
    position: relative;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 20px;
    align-items: center;
    border-radius: 50%;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
}

.container .contact-info .box h3 {
    display: flex;
    color: orange;
}

.container .contact-info .box p {
    margin-top: 0;
    display: flex;
    color: white;
}

.contact-caption {
    color: orange;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 221, 153);
}

.formContainer button:hover {
    cursor: pointer;
    background-color: orange;
}

button {
    margin-top: 10px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
}

.input {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(245, 173, 122);
    border-style: double;
    padding: 5px;
    margin: 10px;
}

.error {
    color: red;
}

.submit-message {
    text-align: center;
    margin-top: 10px;
    color: rgb(227, 122, 46);
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contact-info {
        margin: 20px;
    }

    .container .contact-info .contact-form {
        width: 100%;
    }

    .container .contact-info .box .icon {
        min-width: 30px;
        height: 30px;
        margin-top: 8px;
        margin-left: 0px;
       
    }

    .container .contact-info .box .text {
        display: flex;
        margin-left: 8px;
        font-size: 12px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container .contact-info .box p {
        margin-top: 30;
        display: flex;
        flex-wrap: wrap;
        color: white;
    }
}

