.upper-portion{
    background-image: linear-gradient( rgba(0, 0, 0, 0.264), rgba(0, 0, 1, 0.915)), url("https://images.unsplash.com/photo-1627260111100-e789fd2c0059?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    height: calc(100vh - 164px);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insider__portion {
    position: absolute;
    left: 5%;
    top: 33%;
    
    margin-top: -82px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.insider__portion h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: -10px;
}

.insider__portion p {
    font-size: 26px;
    text-align: left;
    width: 454px;
    
}

.red {
    color: red;
}

.item {
    min-height: 14rem;
    min-width: 22rem;
    padding: 40px;

}


.item img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
    
}

.carousel {
    padding-top: 100px;
    display: flex;
    cursor: grab;
    overflow: hidden;
    
}



.best__seller--header {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
    /* background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.8)); */
    text-decoration: underline;
    padding: 10px;
}

/* .fas {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    top: 63.5%;
    left: 60%;
} */

.shop__now--header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}


.copper {
    color: #B87333;
}

.upper__button {
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 48px;
    background-color:#FAA76C;
}

.upper__button:hover {
    background-color:#AD6F69 ;
    transition: all 300ms ease-in;
}


.card__background {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    padding: 30px;
}

.card {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
}
.card__img {
    height: 200px;
}

.card__footer {
    border-top: 1px solid black;
}


/* SLIDER STYLING GOES BELOWWWWW */


.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.image__slide {
    width: 400px;
    height: 390px;
    border-radius: 10px;
}

.right__arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left__arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
/* CARD CODE PLACEHOLDER */
/*           <div className='card'>
            <div className='card__img'>Add image here!!!! </div>        
            <div className='card__footer'>
            <p> SHOP NOW AND ADD BUTTON TO TAKE TO PRODUCTS</p>
            </div>
          </div>
          <div className='card'>
            <div className='card__img'>IMAGE GOES IN HERE</div>        
            <div className='card__footer'>
            <p> SHOP NOW AND ADD BUTTON TO TAKE TO PRODUCTS</p>
            </div>
          </div>
          <div className='card'>
            <div className='card__img'>IMAGE GOES IN HERE</div>        
            <div className='card__footer'>
            <p> SHOP NOW AND ADD BUTTON TO TAKE TO PRODUCTS</p>
            </div>
          </div> */


.lower__section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1549285107-585b63dbcee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1571&q=80");
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .insider__lower--portion {
    position: absolute;
    left: 5%;
    top: 8%;
    display: flex;
    flex-direction: column;
    text-align: left;
 }

 .lower__section h1{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    width: 610px;
    margin-bottom: -10px;
    
 }

 .lower__section p {
    font-size: 22px;
    width: 480px;

 }

 .slider {  
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1549285107-585b63dbcee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1571&q=80");
    height: 500px;
 }

 .carousel__button {
    position: absolute;
    top: 80%;
    left: 5%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 12px;
    width: 320px;
    background-color: #B5E2F4;
    border-radius: 10px;
 }


 .customer__header {
    position: absolute;
    left: 5%;
    top: -10%;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: black;
 }