.footer_logo--img {
    width: 220px;
    margin: 10px;
}

.footer__list {
    display: flex;
    gap: 20px
    ;
    margin-bottom: 28px;
}

.sub-footer {
    font-size: 12px;
    margin: 14px;
    padding-top: 12px;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer__icon {
    font-size: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}